<section class="section feedback" id="reviews">
  <div class="container">
    <h2 class="visually-hidden">Feedbacks our visitors</h2>

    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
      </div>

      <!-- navigation buttons -->
      <div class="swiper-button-prev">
        <svg width="24" height="24" class="swiper-nav-icon">
          <use href="/img/sprite.svg#icon-left-arrow-alt"></use>
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg width="24" height="24" class="swiper-nav-icon">
          <use href="/img/sprite.svg#icon-right-arrow-alt"></use>
        </svg>
      </div>

      <!-- pagination -->
      <div class="pagination-wrapper">
        <div class="swiper-pagination"></div>
      </div>
      
      <!-- If we need scrollbar -->
      <!-- <div class="swiper-scrollbar"></div> -->
    </div>
  </div>
</section>
