<section class="section feedback">
  <div class="container">
    <h2 class="visually-hidden">Feedbacks our visitors</h2>


    <!-- Slider main container -->
<div class="swiper">

  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">

    <!-- Slides -->
    <div class="swiper-slide">
      <div class="feedback-block">
        <div data-raty="1" class="feedback-rating"></div>
        <p class="feedback-descr">"ArtistsHub has transformed the way I discover new music. It's like having a personal DJ that knows my taste perfectly!"</p>
        <p class="feedback-name">Emily Johnson</p>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="feedback-block">
        <div data-raty="2" class="feedback-rating"></div>
        <p class="feedback-descr">"It's like having a personal DJ that knows my taste perfectly!"</p>
        <p class="feedback-name">Alex Bordo</p>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="feedback-block">
        <div data-raty="3" class="feedback-rating"></div>
        <p class="feedback-descr">"ArtistsHub has transformed the way I discover new music. !"</p>
        <p class="feedback-name">Jon Johnson</p>
      </div>
    </div>
    
  </div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div> 

  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need scrollbar -->
  <!-- <div class="swiper-scrollbar"></div> -->
</div>




  </div>
</section>
