<section class="hero">
  <div class="hero-top-accent"></div>
  <div class="hero-left container">
      <h1 class="hero-title">
        Discover Your Next Favorite Artist
        <span>Today</span>
      </h1>
      <h2 class="hero-subtitle">
        Dive into a world of music discoveries with ArtistsHub – your personal guide to the boundless universe of sound. Explore, filter, and learn about your favorite artists all in one place.
      </h2>
    <button type="button">Explore Artists</button>
  </div>

  <div class="hero-right container">
    <ul class="gallery">
      <li class="gallery-item item-1"></li>
      <li class="gallery-item item-2"></li>
      <li class="gallery-item item-3"></li>
      <li class="gallery-item item-4"></li>
      <li class="gallery-item item-5"></li>
      <li class="gallery-item item-6"></li>
    </ul>
  </div>
</section>